//File: _biografia.sass
/* -------------------- BIOGRAFÍA ESTILOS PROPIOS -------------------- */

/* -------------------- INTEGRANTES -------------------- */

.historia {
    position: relative;
    article {
        color: $blanco;
    }
    .imagenHistoria {
        position: relative;
        overflow: hidden;
        background-color: $colorBio1;
        img {
        position: absolute;
        bottom: 0px;
        width: 100%;
        }
    }
    .imgDamon {
        border-top-left-radius: 20px;
    }
    .imgJamie {
        border-top-right-radius: 20px;
    }
    p {
        padding-bottom: 40px !important;
        background-color: $colorBio3;
        line-height: 2
    }
}

.integrantes {
    article {
        position: relative;
        margin-bottom: 40px;
        .integrante {
            height: 100%;
            background-color: $colorBio3;
            color: $blanco;
            border-radius: 20px 20px 0 0;
            img {
                width: 100%;
                border-radius: 20px 20px 0 0;
            }
            h3 {
                margin: -110px 0 20px;
                font-family: $gorillaz;
                font-size: 90px;
                letter-spacing: 8px;
                text-align: center;
                text-shadow: 5px 5px $negro;
            }
            p {
                margin-bottom: 20px;
                line-height: 1.7;
                span {
                    margin-right: 5px;
                    padding: 0 10px;
                    background-color: $colorBio1;
                    text-transform: uppercase;
                    color: $negro;
                    font-weight: bold;
                    border-radius: 5px;
                }
            }
        }
    }
}