//File: _noticias.sass
/* -------------------- NOTICIAS ESTILOS PROPIOS -------------------- */

/* -------------------- NOTICIAS -------------------- */

.noticias {
    article {
        margin-bottom: 15px;
        img {
            width: 100%;
        }
        h3 {
            clear: both;
            color: $blanco;
            border-top-right-radius: 10px;
            font-size: 23px;
        }
        time {
            float: left;
            color: $blanco;
            border-radius: 10px 10px 0 0;
            font-size: 14px;
        }
        p {
            background-color: $colorNoticias3;
            border-radius: 0 0 10px 10px;
        }
        .seguirLeyendo {
            height: 65px;
            text-align: center;
            a {
                display: inline-block;
                padding: 10px 20px;
                color: $blanco;
                border-radius: 0 0 10px 10px;
                transition: 0.5s;
                &:hover {
                    padding: 20px;
                    background-color: $negro;
                }
            }
        }
    }
    .paginado {
        grid-area: paginado;
        display: flex;
        flex-basis: 100%;
        margin-bottom: 50px;
        justify-content: center;
        list-style: none;
        li a {
            background-color: $colorNoticias1;
            color: $blanco;
            border-radius: 10px;
            &:hover {
                background-color: $colorNoticias2;
            }
        }
        .activo {
            background-color: $colorNoticias2;
        }
    }
}
.noticiasPagina {
    time {
        background-color: $colorNoticias2;
    }
    h3 {
        background-image: linear-gradient(to top, $colorNoticias1, $colorNoticias2);
    }
    .seguirLeyendo a {
        background-color: $colorNoticias1;
    }
}