//File: _variables.sass

//-------------------- FUENTE --------------------

$gorillaz: Gorillaz;

//-------------------- COLORES --------------------

$blanco: #ffffff;
$negro: #000000;

//-------------------- INICIO --------------------

$colorInicio1: #C1043E;
$colorInicio2: #631031;

//-------------------- TOUR --------------------

$colorTour1: #003FF6;
$colorTour2: #001964;

//-------------------- NOTICIAS --------------------

$colorNoticias1: #923CEB;
$colorNoticias2: #3A086B;
$colorNoticias3: #EAEAEA;

//-------------------- BIOGRAFÍA --------------------

$colorBio1: #DEA50D;
$colorBio2: #7B5A08;
$colorBio3: #282204;

//-------------------- DISCOGRAFÍA --------------------

$colorDiscog1: #54AA3D;
$colorDiscog2: #316321;
$colorDiscog3: #234719;

//-------------------- 404 --------------------

$colorError1: #666666;
$colorError2: #333333;